section{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .75);
    animation-name: load;
    animation-iteration-count: 1;
    animation-duration: .25s;
    animation-timing-function: ease;
    transition: opacity .25s ease;
}

#modal-container{
    width: 100%;
    margin: 6rem 3rem;
    background-color: black;
    border: .25rem solid var(--orange-web) ;
    border-radius: 1rem;
}

#modal{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.modalBtnWrapper{
    width: 100%;
    gap: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalBtn button{
    width: 75%;
}