.btnMenu{
    width: auto;
    height: 100%;
    color: var(--orange-web);
    font-size: 4rem;
    font-weight: 400;
    padding-right: 2rem;
    text-align: end;
    box-shadow: inset 2rem 0 0 0 var(--orange-web);
    background: none;
    border: none;
    border-bottom: 1px solid var(--orange-web);
    transition: color .25s ease,
                box-shadow 1s ease;
}

.btnMenu:hover{
    color: white;
    box-shadow: inset 100vw 0 0 0 var(--orange-web);
}

.menuClicked{
    box-shadow: inset 100vw 0 0 0 var(--orange-web);
    color: white;
}

.btnMenu:last-child{
    border-bottom: none;
}

.btnSubmit, .btnReset {
    border-radius: .25rem;
    width: 100%;
    height: 2.25rem;
}

#submit, #confirm{
    border: none;
    background-color: var(--orange-web);
    transition: background-color .3s ease,
                color .3s ease;
}

#reset, #return{
    border: .1rem solid var(--orange-web);
    background: none;
    color: var(--orange-web);
    transition: border-color .3s ease,
    color .3s ease;
}

#confirm, #return{
    width: 75%;
}

.btnPage{
    color: var(--orange-web);
    background: none;
    border: none;
    text-decoration: underline;    
}

.btnDelete{
    width: 25%;
}



#submit:hover, #confirm:hover{
    color: white;
    background-color: var(--cerulean);
}

#reset:hover, #return:hover{
    color: white;
    border-color: var(--cerulean);
}

