table{
    width: 100%;
}
thead{
    background: var(--oxford-blue);
    color: white;
}

tbody{
    text-align: left;
    color: white;
}

td{
    padding-left: .5rem;
    padding-right: .5rem;
}

.tableName, .tableCountry{
    text-transform: capitalize !important;
}

.tableName{
    width: 50%;
}
.tableAge{
    text-align: center;
    width: 5%;
}
.tableCountry{
    width: 40%;
}