table{
    width: 100%;
}
thead{
    background: var(--oxford-blue);
    color: white;
}

tbody{
    text-align: left;
    color: white;
}

.pageSelector{
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

td{
    padding-left: .5rem;
    padding-right: .5rem;
}
.tableName{
    width: 50%;
}
.tableAge{
    text-align: center;
    width: 10%;
}
.tableCountry{
    width: 40%;
}

.emptyRow{
    visibility: hidden;
}

td:nth-child(even){
    text-align: center;
}