/* -------- CSS RESET ----------- */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    --oxford-blue: #14213D;
    --orange-web: #FCA311;
    --cerulean: #087CA7;
      margin: 0;
  }

  html, body {
    font-family: 'Outfit', sans-serif;
    height: 100%;
  }

  body {
    background-color: black;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    mix-blend-mode: normal;
    overflow: hidden;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select, a, label{
    font: inherit;
  }

  button, select, a, label{
    font-weight: 400;
  }

  p, input{
    font-weight: 300;
  }

  p, h1, h2, h3, h4, h5, h6 {
    color: white;
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
    width: 100%;
    height: 100%;
  }

/* outfit-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/outfit-v11-latin-200.woff2'), format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/outfit-v11-latin-300.woff2'), format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/outfit-v11-latin-regular.woff2'), format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/outfit-v11-latin-500.woff2'), format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

  /* -------------------------------- */

  /*576px, 768px, 992px, and 1200px*/

@media screen and (max-width: 576px){
  html{
    font-size: 14px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px){
  html{
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px){
  html{
    font-size: 20px;
  }
}

.menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: opacity 1s ease;
}

.menuTransition{
  position: absolute;
  width: 100%;
  background: var(--orange-web);
  transition: transform 1s cubic-bezier(0, 0, 0.2, 1);
}

.fade {
  opacity: 0;
}

/* .menuCreate{
  width: 100%;
  height: 100%;
} */

.pagePadding{
  padding-right: 2rem;
  padding-left: 2rem;
}

.load{
  animation-name: load;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes load{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.smallMarginTop{
  margin-top: .5rem;
}
.smallMarginBottom{
  margin-bottom: .5rem;
}

.baseMarginTop{
  margin-top: 1rem;
}
.baseMarginBottom{
  margin-bottom: 1rem;
}

.largeMarginTop{
  margin-top: 2rem;
}
.largeMarginBottom{
  margin-bottom: 2rem;
}

.justifyCenter{
  justify-content: center;
}

.formRow{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.active{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}

.loaderWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  vertical-align: middle;
  width: .75rem;
  height: .75rem;
  border: .1rem solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 