/* -------- CSS RESET ----------- */
*, *::before, *::after {
    box-sizing: border-box;
    box-sizing: border-box;
  }
  * {
    --oxford-blue: #14213D;
    --orange-web: #FCA311;
    --cerulean: #087CA7;
      margin: 0;
      overflow: hidden;
  }

  html, body {
    font-family: 'Outfit', sans-serif;
    height: 100%;
  }

  body {
    background-color: black;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    mix-blend-mode: normal;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    color: white;
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
    width: 100%;
    height: 100%;
  }

  /* -------------------------------- */

.menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: opacity 1s ease;
}

.menuTransition{
  position: absolute;
  width: 100%;
  background: var(--orange-web);
  transition: transform 1s cubic-bezier(0, 0, 0.2, 1);
}

.fade {
  opacity: 0;
}

.menuCreate{
  width: 100%;
  height: 100%;
}

.pagePadding{
  padding-right: 2rem;
  padding-left: 2rem;
}

.load{
  animation-name: load;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes load{
  0% {opacity: 0;}
  100% {opacity: 1;}
}